:root {
  --primary: white;
}

header {
  background-color: rgb(5, 8, 5);
  color: rgb(236, 87, 13);
  height: 600px;
  background-image: url(/Users/wills/Desktop/paramotor/assets/images/IMG_2188.png);
  background-size: cover;
  background-position: center;
  font-size: 80px;
  text-align: right;
  text-shadow: solid black;
  border: solid black;
  font-family: ojuju;
  position: relative;
  justify-content: space-between;
  display: flex;
}
header nav {
  font-size: 30px;
  color: brown;
  position: absolute;
  justify-content: baseline;
  right: 75%;
  display: inline;
}

body {
  background-color: rgb(9, 196, 184);
  color: brown;
}

.videos {
  display: inline;
}

section {
  background-color: white;
  margin: 20px;
  padding: 15px;
}
div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

h2 {
  font-size: 40px;
  font-family: ojuju;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
